@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter';
}

body {
  min-height: 100vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

#root,
#root > div {
  flex: 1;
  display: flex;
  flex-direction: column;
}
